/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

input[type="email"],
input[type="password"],
input[type="name"],
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.body-button {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #28a745;
    color: white;
    border: 2px solid #28a745;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Layout Containers */
.home-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.top-section {
    width: 100%;
    padding: 10px 0;
}

/* Form Layout */
.action-section {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.action-section input {
    flex: 1 1 30%;
}

.action-section button {
    flex: 1 1 100%;
    max-width: 200px;
}

.middle-section {
    width: 100%;
    gap: 15px;
    margin-top: 30px;
    padding: 10px 0;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 10px 0;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 items per row */
    gap: 10px;
    margin-top: 10px;
}

.expiring-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Stats Display */
.stat-block {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.stat-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 18px;
}

/* Buttons & Feedback */
.top-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.header-button,
.action-section>* {
    margin-top: 5px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.remove-access-button {
    background-color: #dc3545;
    border: 2px solid #dc3545;
    padding: 10px 15px;
    color: white;
    margin-bottom: 10px;
}

.remove-access-button:hover {
    background-color: #c82333;
}