{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Pantry Pal</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
  <div class="login-container">
    <h2>Login</h2>
    <form id="loginForm" hx-post="/login" hx-swap="innerHTML" hx-target="#error-message">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div id="error-message"></div>
      <button id="body-button">Login</button>
    </form>
    <button id=" body-button" hx-get="/signup" hx-target="body" hx-swap="innerHTML">Sign Up</button>
  </div>
</body>

</html>
{{ end }}

{{ block "errorLogin" . }}
{{ if .Message }}
{{ .Message }}
{{ end }}
{{ end }}