{{ block "user" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body hx-boost="true">
    <div class="account-container">
        <h1>Account Settings</h1>

        <form id="nameForm" hx-post="/user/name" hx-target="body">
            <div class="form-group">
                <label for="name-input" id="user-name-label">Name: {{ .UserName }}</label>
                <input type="text" id="name-input" name="name" required>
                <button class="body-button" id="button-name">Update Name</button>
            </div>
        </form>

        <form id="emailForm" hx-post="/user/email" hx-target="body">
            <div class="form-group">
                <label for="email-input" id="user-email-label">Email: {{ .UserEmail }}</label>
                <input type="email" id="email-input" name="email" required>
                <button class="body-button" id="button-email" type="submit">Update Email</button>
            </div>
        </form>

        <form id="passwordForm" hx-post="/user/password" hx-target="body">
            <div class="form-group">
                <label for="password-input">Password:</label>
                <input type="password" id="password-input" name="password">
                <button class="body-button" id="body-button">Update Password</button>
            </div>
        </form>

        <div>
            <button class="body-button" id="button-home" hx-get="/home" hx-target="body" hx-swap="innerHTML">Back to
                Home Page</button>
        </div>

        {{ template "Admin" . }}
        {{ template "ResponseMessage" . }}

</body>

</html>
{{ end }}


{{ block "Admin" .}}
<div id="users-container" class="users-container">
    {{ if .IsAdmin }}
    <div class="user-list">
        <h2>Current Registered Users</h2>
        <ul>
            {{ range .Users }}
            <li>{{ .Name }} - {{ .Email }}</li>
            <button class="body-button" hx-delete="/user/{{ .UserID }}" hx-target="#users-container"
                hx-swap="innerHTML">Delete</button>
            {{ if not .UserAdmin }}
            <button class="body-button" hx-post="/user/admin/{{ .UserID }}" hx-target="#users-container"
                hx-swap="innerHTML">Make
                Admin</button>
            {{ else }}
            <button class="body-button" hx-delete="/user/admin/{{ .UserID }}" hx-target="#users-container"
                hx-swap="innerHTML">Remove
                Admin</button>
            {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}

</div>
{{end}}

{{ block "ResponseMessage" .}}
<div id="response-message">
    <div class="success-message">{{ .SuccessMessage }}</div>
    <div class="error-message">{{ .ErrorMessage }}</div>
</div>
{{ end }}