{{ block "user" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body hx-boost="true">
    <div class="account-container">
        <h1>Account Settings</h1>

        <!-- Account Details Form -->
        <form id="nameForm" hx-post="/user/name" hx-target="body" hx-swap="outerHTML">
            <div class="form-group">
                <label for="name-input">Name: {{.Name}}</label>
                <input type="text" id="name-input" name="name" required>
                <button id="button-name">Update Name</button>
            </div>
        </form>

        <form id="emailForm" hx-post="/user/email" hx-target="body" hx-swap="innerHTML">
            <!-- Email Update Section -->
            <div class="form-group">
                <label for="email-input">Email: {{.Email}}</label>
                <input type="email" id="email-input" name="email" required>
                <button id="button-email" type="submit">Update Email</button>
            </div>
        </form>

        <form id="passwordForm" hx-post="/user/password" hx-target="body" hx-swap="innerHTML">
            <div class="form-group">
                <label for="password-input">Password:</label>
                <input type="password" id="password-input" name="password">
                <button id="button-password">Update Password</button>
            </div>
        </form>

        <!-- Make Admin Button -->
        <div>
            <button>Make Admin</button>
        </div>

        <div>
            <button hx-get="/home" hx-target="body">Back to Home Page</button>
        </div>

        <div id="error-message" style="color: red; margin-top: 10px;">{{.ErrorUpdate}}</div>
    </div>
</body>

</html>
{{ end }}